<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Online Store</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
	<%= image_tag("logo.png") %>
	<p><%= @page_title || "Pragmatic Bookshelf" %></p>
</div>
<div id="columns">
	<div id="slide">
		<ul>
			<li><a href="http://www....">Home</a></li>
			<li><a href="http://www..../news">News</a></li>
			<li><a href="http://www..../contact">Contact</a></li>
			<li><a href="http://www..../about">about</a></li>
		</ul>
	</div>
	<div id="main">
		<%= yield %>
	</div>
</div>
</body>
</html>
